fa3dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="02cc2532-457a-4aae-ba45-30c9eefa2d79" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="fa3dummyFlow" doc:id="6adfe83f-5048-4cec-9912-67f119dad89b" >
		<http:listener doc:name="Listener" doc:id="8bb25b95-1001-4774-9aae-bf6430c5c511" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["hello Dummy!"]' doc:name="Set Payload" doc:id="efb074a6-2c25-435a-a15c-ae17685f4dc7" />
	</flow>
</mule>
